.TodoCounter {
    font-size: 34px;
    text-align: center;
    margin: 0;
    padding: 30px;
  }
  
  .TodoCounter span {
    color: darkred;
  }

  .TodoCounter--loading {
    opacity: 25%;
  }

 

  